.adakotipathi-ticket-container {
  width: 9.5cm;
  height: auto;
  max-height: 2cm;
  margin: 0 auto;
  display: flex;
  background-color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.adakotipathi-ticket-header {
  display: flex;
  align-items: center;
}

/* Winning Numbers Section */
.adakotipathi-ticket-winning-numbers {
  justify-content: center;
}

.adakotipathi-ticket-winning-numbers-title {
  color: white;
  font-size: 0.23cm;
  font-weight: 1000;
  margin-left: 0.4cm;
  justify-content: center;
}

.adakotipathi-ticket-winning-numbers-container {
  display: flex;
  align-items: center;
  gap: 0.1cm;
  margin-left: 0.5cm;
}

.adakotipathi-ticket-winning-number {
  width: 0.4cm;
  height: 0.4cm;
  background-color: #ffffff;
  border-radius: 0.1cm;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.adakotipathi-ticket-winning-number:nth-child(4) {
  margin-right: 0.2cm;
}

.adakotipathi-ticket-winning-number-text {
  font-size: 0.27cm;
  font-weight: 1000;
  text-align: center;
}

/* Header Section */
.adakotipathi-ticket-header {
  display: flex;
  align-items: center;
}

/* Logo Section */
.adakotipathi-ticket-logo-container {
  align-items: center;
}

.adakotipathi-ticket-logo {
  height: 2cm;
  width: 3cm;
}

/* Draw Number Section */
.adakotipathi-ticket-draw-number-container {
  align-items: center;
  margin-left: 1.3cm;
  margin-top: 0.1cm;
}

.adakotipathi-ticket-draw-number-text {
  background-color: #b4b4b4;
  padding: 0.05cm;
  display: inline-block;
  color: #000000;
  font-weight: 1000;
  font-size: 0.2cm;
  font-family: 'Times New Roman', Times, serif;
}

.adakotipathi-ticket-draw-number-text1 {
  background-color: #eceef1;
  padding: 0.05cm;
  display: inline-block;
  color: #000000;
  font-weight: 1000;
  font-size: 0.2cm;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  border-left: 0.03cm solid #000000;
}

/* Color Section */

.adakotipathi-ticket-colour-text {
  background-color: #b4b4b4;
  padding: 0.05cm;
  display: inline-block;
  color: #000000;
  font-weight: 1000;
  font-size: 0.2cm;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin-left: 0.5cm;
}

.adakotipathi-ticket-colour-text1 {
  background-color: #eceef1;
  padding: 0.05cm;
  display: inline-block;
  color: #000000;
  font-weight: 1000;
  font-size: 0.2cm;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  border-left: 0.03cm solid #000000;
}


/* Bottom Section */
.adakotipathi-ticket-bottom {
  align-items: center;
  margin-left: -1.5cm;
  margin-right: 0.5cm;
  width: auto;
  height: 0.5cm;
  background-color: #2d3748;
  border-radius: 0.1cm;
  display: flex;
  padding: 0.05cm;
  color: white;
  font-size: 0.2cm;
  font-family: 'Times New Roman', Times, serif;
}


.adakotipathi-ticket-special {
  display: flex;
  margin-top: 0.1cm;
}

/* Special Prize Section */
.adakotipathi-ticket-special-prize-container {
  display: flex;
  background-color: #ffffff;
  border-radius: 0.1cm;
  height: 0.5cm;
  width: auto;
  padding: 0.05cm 0.2cm;
}

.adakotipathi-ticket-special-prize-icon {
  margin-left: -0.4cm;
  margin-top: -0.2cm;
  height: 0.5cm;
  width: 0.8cm;  
}

/* Additional Styling */
.special-numbers {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 0.25cm;
  font-weight: 1000;
  font-family: 'Times New Roman', Times, serif;
}


