.image-container {
  width: 9.5cm;
  height: 1.5cm;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-logo {
  margin-top: 0.1cm;
  margin-left: 0.1cm;
  width: 1.5cm;
  height: 1.2cm;
}


.header-text-container {
  margin-top: 0.45cm;
  margin-left: 0.1cm;
  font-size: 0.27cm;
  font-weight: 1000;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #000;
}

.header-text2 {
  margin-left: 3.2cm;
  font-size: 0.25cm;
  background-color: #5e5c5c;
  color: #ffffff;
  align-items: center;
}

.date-container {
  width: 3cm;
  height: 1.5cm;
  align-items: center;
  margin-left: auto;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 10% 100%, 0 100%);
}

.date-text {
  color: #ffffff;
  font-family: 'Times New Roman', Times, serif;
  font-size: 0.25cm;
  font-weight: 1000;
  margin-left: 0.25cm;
  margin-top: 0.4cm;
}