.kapruka-ticket-container {
  width: 9.5cm;
  height: auto;
  max-height: 2cm;
  margin: 0 auto;
  display: flex;
  background-color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
    
    /* Header Section */
  .kapruka-ticket-header {
    display: flex;
    align-items: center;
  }
    
    /* Logo Section */
  .kapruka-ticket-logo-container {
      display: flex;
      align-items: flex-start;
    }
    
  .kapruka-ticket-logo {
    height: 2cm;
    width: 2.5cm;
  }
  
  /* Draw Number Section */
  .kapruka-ticket-draw-number-container {
    align-items: center;
    margin-left: 0.5cm;
    margin-top: 0.1cm;
  }
    
  .kapruka-ticket-draw-number-text {
    background-color: #b4b4b4;
    padding: 0.05cm;
    display: inline-block;
    color: #000000;
    font-weight: 1000;
    font-size: 0.2cm;
    font-family: 'Times New Roman', Times, serif;
  }

  .kapruka-ticket-draw-number-text1 {
    background-color: #eceef1;
    padding: 0.05cm;
    display: inline-block;
    color: #000000;
    font-weight: 1000;
    font-size: 0.2cm;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    border-left: 0.03cm solid #000000;
  }
  
  /* Color Section */

  .kapruka-ticket-colour-text {
    background-color: #b4b4b4;
    padding: 0.05cm;
    display: inline-block;
    color: #000000;
    font-weight: 1000;
    font-size: 0.2cm;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-left: 0.5cm;
  }
  
  .kapruka-ticket-colour-text1 {
    background-color: #eceef1;
    padding: 0.05cm;
    display: inline-block;
    color: #000000;
    font-weight: 1000;
    font-size: 0.2cm;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    border-left: 0.03cm solid #000000;
  }
  
  /* Winning Numbers Section */
  .kapruka-ticket-winning-numbers {
    justify-content: center;
  }
  
  .kapruka-ticket-winning-numbers-title {
    color: white;
    font-size: 0.23cm;
    font-weight: 1000;
    margin-left: 0.35cm;
    justify-content: center;
  }
  
  .kapruka-ticket-winning-numbers-container {
    display: flex;
    align-items: center;
    gap: 0.1cm;
    margin-left: 1.3cm;
  }

  .kapruka-ticket-winning-number {
    width: 0.4cm;
    height: 0.4cm;
    background-color: #ffffff;
    border-radius: 0.1cm;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .kapruka-ticket-winning-number:nth-child(1) {
    margin-right: 0.2cm;
  }

  .kapruka-ticket-winning-number:nth-child(2) {
    margin-right: 0.2cm;
  }
  
  .kapruka-ticket-winning-number-text {
    font-size: 0.27cm;
    font-weight: 1000;
    text-align: center;
  }
  
  /* Bottom Section */
  .kapruka-ticket-bottom {
    align-items: center;
    margin-left: 0.5cm;
    margin-right: 0.5cm;
    width: auto;
    height: 0.5cm;
    background-color: #2d3748;
    border-radius: 0.1cm;
    display: flex;
    padding: 0.05cm;
    color: white;
    font-size: 0.2cm;
    font-family: 'Times New Roman', Times, serif;
  }

  .kapruka-ticket-bottomsn {
    display: flex;
    align-items: flex-start;
    margin-left: -2cm;
    margin-right: 1cm;
    margin-top: -0.25cm;
    width: auto;
    height: 0.4cm;
    background-color: #2d3748;
    padding: 0.1cm 0.1cm;
    border-radius: 0.1cm;
    display: flex;
    color: white;
    font-size: 0.14cm;
  }
  

  .kapruka-ticket-special {
    display: flex;
    margin-top: 0.1cm;
   }
   
   /* Special Prize Section */
   .kapruka-ticket-special-prize-container {
    display: flex;
    background-color: #ffffff;
    border-radius: 0.1cm;
    height: 0.5cm;
    width: auto;
    padding: 0.05cm 0.2cm;
   }
   
   .kapruka-ticket-special-prize-icon {
    margin-left: -0.4cm;
    margin-top: -0.2cm;
    height: 0.5cm;
    width: 0.8cm;   
   }
   
   /* Additional Styling */
   .special-numbers {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 0.25cm;
    font-weight: 1000;
    font-family: 'Times New Roman', Times, serif;
  }
  