.lagna-ticket-container {
  width: 9.5cm;
  height: auto;
  max-height: 2cm;
  margin: 0 auto;
  display: flex;
  background-color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Winning Numbers Section */
.lagna-ticket-winning-numbers {
  justify-content: center;
}

.lagna-ticket-winning-numbers-title {
  color: white;
  font-size: 0.2cm;
  font-weight: 1000;
  margin-left: 1cm;
  margin-bottom: 0.1cm;
  margin-top: 0.05cm;
}

.lagna-ticket-winning-numbers-container {
  display: flex;
  justify-content: center;
  gap: 0.1cm;
  margin-bottom: 0.1cm;
  margin-left: -1.8cm;
}

.lagna-ticket-winning-number {
  width: 0.4cm;
  height: 0.4cm;
  background-color: #ffffff;
  border-radius: 0.1cm;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.lagna-ticket-winning-number:nth-child(4) {
  margin-right: 0.2cm;
}

.lagna-ticket-winning-number-text {
  font-size: 0.18cm;
  font-weight: 1000;
  text-align: center;
}

/* Header Section */
.lagna-ticket-header {
  display: flex;
  /* align-items: center;
  justify-content: space-between; */
}

/* Logo Section */
.lagna-ticket-logo-container {
  display: flex;
  align-items: flex-start;
}

.lagna-ticket-logo {
  height: 2cm;
  width: 3cm;
}

/* Draw Number Section */
.lagna-ticket-draw-number-container {
  flex: 1;
  align-items: flex-start;
  margin-top: 0.1cm;
  margin-left: 0.4cm;
  margin-right: 0.1cm;
}

.lagna-ticket-draw-number {
  background-color: #eceef1;
  border-radius: 0.37cm;
  padding: 0.1cm 0.1cm;
  display: inline-block;
}

.lagna-ticket-draw-number-text {
  background-color: #b4b4b4;
  /* clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%, 0 100%); */
  padding: 0.1cm 0.1cm;
  display: inline-block;
  color: #2d3748;
  font-weight: 1000;
  font-size: 0.15cm;
  text-align: center;
}

.lagna-ticket-draw-number-text1 {
  background-color: #eceef1;
  padding: 0.1cm 0.1cm;
  display: inline-block;
  color: #2d3748;
  font-weight: 1000;
  font-size: 0.15cm;
  text-align: center;
  border-left: 0.03cm solid #000000;
}

/* Color Section */

.lagna-ticket-colour-text {
  background-color: #b4b4b4;
  /* clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%, 0 100%); */
  padding: 0.1cm 0.1cm;
  display: inline-block;
  color: #2d3748;
  font-weight: 1000;
  font-size: 0.15cm;
  text-align: center;
  margin-left: 1cm;
}

.lagna-ticket-colour-text1 {
  background-color: #eceef1;
  padding: 0.1cm 0.1cm;
  display: inline-block;
  color: #2d3748;
  font-weight: 1000;
  font-size: 0.15cm;
  text-align: center;
  border-left: 0.03cm solid #000000;
}


/* Bottom Section */
.lagna-ticket-bottom {
  display: flex;
  align-items: flex-start;
  margin-left: -1.5cm;
  margin-right: 1cm;
  margin-bottom: 0.1cm;
  width: auto;
  height: 0.45cm;
  background-color: #2d3748;
  padding: 0.1cm 0.1cm;
  border-radius: 0.1cm;
  display: flex;
  color: white;
  font-size: 0.14cm;
}


.lagna-ticket-special {
 display: flex;
}

/* Special Prize Section */
.lagna-ticket-special-prize-container {
  display: flex;
  background-color: #ffffff;
  border-radius: 0.1cm;
  height: 0.45cm;
  width: auto;
  padding: 0.05cm 0.2cm 0.2cm;
}

.lagna-ticket-special-prize-icon {
  margin-left: -0.4cm;
  margin-top: -0.2cm;
  height: 0.4cm;
  width: 0.6cm;
  
}

/* Additional Styling */
.special-numbers {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 0.14cm;
  font-weight: 1000;
}

body {
  color: rgb(0, 0, 0);
  font-size: 0.18cm;
  font-weight: 1000;
}

.lagna-ticket-ball-image {
  width: 0.45cm; /* Adjust as needed */
  height: auto;
  padding: 0.1cm 0.1cm;
  display: inline-block;
}

.lagna-ticket-ball-name {
  text-align: center;
  font-size: 0.08cm;
  font-weight: bold;
  margin-top: -0.1cm;
  color: #000000;
}

