/* Improve image quality and ensure proper section layout */
.report-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: white;
}

.report-section {
  max-width: 11cm;
  min-height: 17cm; /* Adjust to fit A4 proportions */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  padding: 2px;
  page-break-after: always; /* Ensure each section is on a separate page */
  margin-top: 0.5cm;
}

.component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: white;
  margin-bottom: 0.05cm; /* Bottom margin for all components */
}

/* Remove margin-top for the first component */
.report-section .component:first-child {
  margin-bottom: 0;
}

/* Remove margin-bottom for the last component */
.report-section .component:last-child {
  margin-top: -0.05cm;
}


.report-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.report-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.report-button:hover {
  background-color: #0056b3;
}
