/* Container Styles */
.report-container {
  max-width: 200mm;
  height: 290mm;
  margin: 0 auto;
  padding: 1px;
}

/* Section Styling for Padding */
/* .section-padding {
  width: 400px;
  height: 100%;
  padding: 10mm;
} */

.report-section {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Button Container */
.report-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Button Styling */
.report-button {
  background-color: #3498db;
  border: none;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.report-button:hover {
  background-color: #2980b9;
}
