.sasiri-ticket-container {
  width: 9.5cm;
  height: auto;
  max-height: 2cm;
  margin: 0 auto;
  display: flex;
  background-color: rgba(20, 19, 20, 0.925);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
  /* Header Section */
.sasiri-ticket-header {
  display: flex;
}
  
  /* Logo Section */
.sasiri-ticket-logo-container {
    display: flex;
    align-items: flex-start;
  }
  
.sasiri-ticket-logo {
  height: 2cm;
  width: 2.5cm;
}

/* Draw Number Section */
.sasiri-ticket-draw-number-container {
  flex: 1;
  align-items: flex-start;
  margin-top: 0.1cm;
  margin-left: 1.5cm;
  margin-right: 0.1cm;
}
  
.sasiri-ticket-draw-number {
  background-color: #eceef1;
  border-radius: 0.1cm;
  padding: 0.1cm 0.1cm;
  display: inline-block;
}
  
.sasiri-ticket-draw-number-text {
  background-color: #b4b4b4;
  /* clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%, 0 100%); */
  padding: 0.1cm 0.1cm;
  display: inline-block;
  color: #2d3748;
  font-weight: 1000;
  font-size: 0.15cm;
  text-align: center;
}

.sasiri-ticket-draw-number-text1 {
  background-color: #eceef1;
  padding: 0.1cm 0.1cm;
  display: inline-block;
  color: #2d3748;
  font-weight: 1000;
  font-size: 0.15cm;
  text-align: center;
  border-left: 0.03cm solid #000000;
}

/* Color Section */


.sasiri-ticket-colour-text {
  background-color: #b4b4b4;
  /* clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%, 0 100%); */
  padding: 0.1cm 0.1cm;
  display: inline-block;
  color: #2d3748;
  font-weight: 1000;
  font-size: 0.15cm;
  text-align: center;
  margin-left: 1cm;
}

.sasiri-ticket-colour-text1 {
  background-color: #eceef1;
  padding: 0.1cm 0.1cm;
  display: inline-block;
  color: #2d3748;
  font-weight: 1000;
  font-size: 0.15cm;
  text-align: center;
  border-left: 0.03cm solid #000000;
}


/* Winning Numbers Section */
.sasiri-ticket-winning-numbers {
  justify-content: center;
}

.sasiri-ticket-winning-numbers-title {
  color: white;
  font-size: 0.2cm;
  font-weight: 1000;
  margin-left: -0.28cm;
  margin-bottom: 0.05cm;
  margin-top: 0.05cm;
}

.sasiri-ticket-winning-numbers-container {
  display: flex;
  justify-content: center;
  gap: 0.3cm;
  margin-bottom: 0.1cm;
  margin-left: 0.1cm;
}

.sasiri-ticket-winning-number {
  width: 0.4cm;
  height: 0.4cm;
  background-color: #ffffff;
  border-radius: 0.1cm;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sasiri-ticket-winning-number-text {
  font-size: 0.18cm;
  font-weight: 1000;
  text-align: center;
}

.sasiri-ticket-winner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.8cm;
  margin-top: -0.2cm;
  width: 2cm;
  background-color: #ffffff;
  padding: 0.1cm 0.1cm;
  
  color: rgb(0, 0, 0);
  font-size: 0.18cm;
  font-weight: 1000;
}

.sasiri-ticket-winner-container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -0.3cm;
  margin-top: -0.2cm;
  width: 0.6cm;
  background-color: #ffffff;
  padding: 0.1cm 0.1cm;
  
  color: rgb(0, 0, 0);
  font-size: 0.3cm;
  font-weight: 1000;

  border-left: 0.03cm solid #000000; /* Adjust color (#0000ff is blue) */
}

.sasiri-ticket-winner-containertm {
  display: flex;
  align-items: center;
  margin-left: 0.8cm;
  margin-top: -0.2cm;
  width: 2cm;
  background-color: #ffffff;
  padding: 0.1cm 0.1cm;
  
  color: rgb(0, 0, 0);
  font-size: 0.1cm;
  font-weight: 1000;
}

.sasiri-ticket-winner-containertm1 {
  display: flex;
  align-items: center;
  margin-left: -0.3cm;
  margin-top: -0.2cm;
  width: 0.6cm;
  background-color: #ffffff;
  padding: 0.1cm 0.1cm;
  
  color: rgb(0, 0, 0);
  font-size: 0.3cm;
  font-weight: 1000;

  border-left: 0.03cm solid #000000; /* Adjust color (#0000ff is blue) */
}


/* Bottom Section */

.sasiri-ticket-bottom {
  display: flex;
  align-items: flex-start;
  margin-left: -1cm;
  margin-right: 1cm;
  margin-top: -0.1cm;
  width: 2.8cm;
  height: 0.4cm;
  background-color: #2d3748;
  padding: 0.1cm 0.1cm;
  border-radius: 0.1cm;
  display: flex;
  color: white;
  font-size: 0.14cm;
}

.sasiri-ticket-bottomtm {
  display: flex;
  align-items: flex-start;
  margin-left: -1cm;
  margin-right: 1cm;
  margin-bottom: 0.05cm;
  margin-top: -0.02cm;
  width: auto;
  height: 0.4cm;
  background-color: #2d3748;
  padding: 0.1cm 0.1cm;
  border-radius: 0.1cm;
  display: flex;
  color: white;
  font-size: 0.14cm;
}
