.supiridana-ticket-container {
    width: 9.5cm;
    height: auto;
    max-height: 2cm;
    margin: 0 auto;
    display: flex;
    background-color: rgba(20, 19, 20, 0.925);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
    
    /* Header Section */
  .supiridana-ticket-header {
    display: flex;
  }
    
    /* Logo Section */
  .supiridana-ticket-logo-container {
      display: flex;
      align-items: flex-start;
    }
    
  .supiridana-ticket-logo {
    height: 2cm;
    width: 3.6cm;
  }
  
  /* Draw Number Section */
  .supiridana-ticket-draw-number-container {
    flex: 1;
    align-items: flex-start;
    margin-top: 0.1cm;
    margin-left: 1cm;
    margin-right: 0.1cm;
  }

    
  .supiridana-ticket-draw-number-text {
    background-color: #b4b4b4;
    /* clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%, 0 100%); */
    padding: 0.1cm 0.1cm;
    display: inline-block;
    color: #2d3748;
    font-weight: 1000;
    font-size: 0.15cm;
    text-align: center;
  }

  .supiridana-ticket-draw-number-text1 {
    background-color: #eceef1;
    padding: 0.1cm 0.1cm;
    display: inline-block;
    color: #2d3748;
    font-weight: 1000;
    font-size: 0.15cm;
    text-align: center;
    border-left: 0.03cm solid #000000;
  }
  
  /* Color Section */

  .supiridana-ticket-colour-text {
    background-color: #b4b4b4;
    /* clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%, 0 100%); */
    padding: 0.1cm 0.1cm;
    display: inline-block;
    color: #2d3748;
    font-weight: 1000;
    font-size: 0.15cm;
    text-align: center;
    margin-left: 1cm;
  }
  
  .supiridana-ticket-colour-text1 {
    background-color: #eceef1;
    padding: 0.1cm 0.1cm;
    display: inline-block;
    color: #2d3748;
    font-weight: 1000;
    font-size: 0.15cm;
    text-align: center;
    border-left: 0.03cm solid #000000;
  }
  
  /* Winning Numbers Section */
  .supiridana-ticket-winning-numbers {
    justify-content: center;
  }
  
  .supiridana-ticket-winning-numbers-title {
    color: white;
    font-size: 0.2cm;
    font-weight: 1000;
    margin-left: -1.3cm;
    margin-bottom: 0.05cm;
    margin-top: 0.05cm;
  }
  
  .supiridana-ticket-winning-numbers-container {
    display: flex;
    justify-content: center;
    gap: 0.1cm;
    margin-bottom: 0.1cm;
    margin-left: -1.2cm;
  }
  
  .supiridana-ticket-winning-number {
    width: 0.4cm;
    height: 0.4cm;
    background-color: #ffffff;
    border-radius: 0.1cm;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .supiridana-ticket-winning-number-text {
    font-size: 0.18cm;
    font-weight: 1000;
    text-align: center;
  }

  .supiridana-ticket-winning-number:nth-child(1) {
    margin-right: 0.2cm;
  }

  .supiridana-ticket-winning-number:nth-child(2) {
    margin-right: 0.2cm;
  }
  
  /* Bottom Section */
  .supiridana-ticket-bottom {
    display: flex;
    align-items: flex-start;
    margin-left: -1cm;
    margin-right: 1cm;
    margin-bottom: 0.1cm;
    width: 3.5cm;
    height: auto;
    background-color: #2d3748;
    padding: 0.1cm 0.1cm;
    border-radius: 0.1cm;
    display: flex;
    color: white;
    font-size: 0.14cm;
  }
  
  .supiridana-ticket-special {
    display: flex;
   }
   
   /* Special Prize Section */
   .supiridana-ticket-special-prize-container {
    display: flex;
    background-color: #ffffff;
    border-radius: 0.1cm;
    height: 0.5cm;
    width: auto;
    padding: 0.05cm 0.2cm 0.2cm;
   }
   
   .supiridana-ticket-special-prize-icon {
     margin-left: -1.5rem;
     margin-top: -0.5rem;
     height: auto;
     width: auto;
     
   }
   
   /* Additional Styling */
   body {
     color: rgb(0, 0, 0);
     font-size: 0.575rem;
   }
  
  